.nav-link-client {
    @apply flex flex-col items-center gap-1 flex-1 text-slate-400 dark:text-slate-500 transition-colors;
}

    .nav-link-client.active {
        @apply text-primary;
    }

.icon-fill {
    font-variation-settings: 'FILL' 1;
}
