.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Animación hover en imágenes */
.group:hover .group-hover\:scale-105 {
    transform: scale(1.05);
}
